body {
	font-family: 'Roboto', sans-serif;
	background-color: #eaecf0;
}

h1 {
	font-size: 343%;
}

button {
	color: #fff;
	background-color: #1B263B;
	font-size: 16px;
	border: 1px solid transparent;
	border-radius: 2px;
	padding: 12px 14px;
	cursor: pointer;
}

button:hover {
	background-color: #415A77;
}

button:active {
  opacity: 0.9;
}

.container {
	text-align: center;
}

.control-pane {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	margin: 15px;
}

.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	margin: 0 auto;
	width: 40vw;
	height: 40vw;
	border: 1px solid #ccc;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.square {
	background-color: #fff;
}

.square:hover {
	background-color: #c1121f;
}
