body {
	font-family: 'Roboto', sans-serif;
}

.container {
	text-align: center;
}

.control-pane {
	display: flex;
	justify-content: center;
	gap: 5px;
	margin: 15px;
	font-weight: bold;
}

.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	margin: 0 auto;
	width: 40vw;
	height: 40vw;
	border: 2px solid black;
}

.square {
	background-color: #fff;
}

.square:hover {
	background-color: #c1121f;
}
